.request-container {
    max-width: 500px;
    margin: 150px auto 0 auto; 
    padding: 20px;
    background-color: rgb(255, 238, 238);
  }
  
  
  .request-list {
    margin-top: 20px;
  }
  
  .request-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .no-request {
    color: black; 
  }