/* Remove body background-color from here */
.bg {
    background-image: linear-gradient(to right, #080808, #0d1242, #0f1353, #161364);
}

.SellerForm {
    height: 190vh;
    color: white;
    /* margin-left: 150px;   */
    /* Add background-color to override body background */
    background-color: white;
}

.SellerFormContainer {
    /* height: 80vh; */
    float: inline-end;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 70px;
    width: 600px;
    border-radius: 4%;
    background-image: linear-gradient(to right, #080808, #070708, #060607, #050407, #040306, #090512, #0c071a, #0c0a21, #0d0f31, #0d1242, #0f1353, #161364);
    box-shadow: 2px 2px 10px 1px #333;
    overflow: hidden;
    padding: 20px;
    color: white;
}

.SellerFormContainer form {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.SellerFormContainer h1 {
    font-size: 30px;
    color: rgb(234, 234, 243);
}

.SellerForm h3 {
    color: rgb(201, 201, 221);
    position: relative;
    bottom: 25px;
}

.SellerFormContainer input,
.SellerFormContainer select {
    width: 380px;
    height: 40px;
    border: 1px solid #bdbdbd;
    border-radius: 30px;
    border: 1px solid #ccc;
    outline: none;
    color: #3b3b3b;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
}

.SellerFormContainer label {
    text-align: left;
    font-weight: 700;
    color: rgb(233, 233, 240);
    margin-top: 15px;
}

.SellerFormContainer button {
    width: 150px;
    height: 50px;
    border-radius: 60px;
    background: rgb(0, 0, 0);
    color: white;
    font-size: 20px;
    cursor: pointer;
    align-self: center;
    transition: background-color 0.3s;
}

.SellerFormContainer  button:hover {
    background-color: rgb(50, 50, 50);
}

.SellerFormContainer input {
    height: 2em;
    border: 1px solid white;
    border-radius: 8px;
}

@media only screen and (max-width: 600px) {
    .SellerForm {
        height: auto;
        margin-left: 0;
    }
    
    .SellerFormContainer {
        width: 80%;
    }
    
    .SellerFormContainer form {
        width: 80%;
    }
    
    .SellerFormContainer input,
    .SellerFormContainer select { /* Added space between .SellerFormContainer and select */
        width: 100%;
    }
}